##`Appliances Energy Prediction `

##Task Week 1
Data Preprocessing with Appliances energy prediction Dataset
Dataset resource = https://www.kaggle.com/datasets/sohommajumder21/appliances-energy-prediction-data-set

Submitted By:
Bhavani L

AI/ML Energy(Prediction) intern at Edunet Foundation

Linkedln profile : https://www.linkedin.com/in/bhavani-l-149b932b0/

Github profile : https://github.com/Bhavanil-prog/Week-1_Appliances-Energy-Prediction-/tree/main

# Task
Perform data preprocessing on the dataset located at "/content/energydata_complete.csv.zip". The preprocessing steps should include: displaying the first 5 rows of the raw data, removing duplicate rows, checking for missing values, cleaning the data, and handling extraneous data like 'e' or 'E' in numerical columns. Finally, use an AI model to count the number of columns in the cleaned data and print the response.

## Load the data

### Subtask:
Load the data from "/content/energydata_complete.csv.zip" into a pandas DataFrame.

**Reasoning**:
Import pandas and load the data from the zip file into a DataFrame.

In [1]:
import pandas as pd

df = pd.read_csv("/content/energydata_complete.csv.zip")

## Show raw data


The task is to display the first 5 rows of the raw data.

**Reasoning**:
Display the first 5 rows of the dataframe as requested by the subtask.

In [2]:
display(df.head())

,date,Appliances,lights,T1,RH_1,T2,RH_2,T3,RH_3,T4,...,T9,RH_9,T_out,Press_mm_hg,RH_out,Windspeed,Visibility,Tdewpoint,rv1,rv2
0,11-01-2016 17:00,60,30,19.89,47.596667,19.2,44.790000,19.79,44.730000,19.000000,...,17.033333,45.53,6.60,733.5,92.0,7.000000,63.000000,5.3,13.275433,13.275433
1,11-01-2016 17:10,60,30,19.89,46.693333,19.2,44.722500,19.79,44.790000,19.000000,...,17.066667,45.56,6.48,733.6,92.0,6.666667,59.166667,5.2,18.606195,18.606195
2,11-01-2016 17:20,50,30,19.89,46.300000,19.2,44.626667,19.79,44.933333,18.926667,...,17.000000,45.50,6.37,733.7,92.0,6.333333,55.333333,5.1,28.642668,28.642668
3,11-01-2016 17:30,50,40,19.89,46.066667,19.2,44.590000,19.79,45.000000,18.890000,...,17.000000,45.40,6.25,733.8,92.0,6.000000,51.500000,5.0,45.410390,45.410390
4,11-01-2016 17:40,60,40,19.89,46.333333,19.2,44.530000,19.79,45.000000,18.890000,...,17.000000,45.40,6.13,733.9,92.0,5.666667,47.666667,4.9,10.084097,10.084097

## Remove duplicates

### Subtask:
Identify and remove duplicate rows from the DataFrame.

**Reasoning**:
Identify and remove duplicate rows from the DataFrame, then verify the removal.

In [3]:
num_duplicates = df.duplicated().sum()
print(f"Number of duplicate rows found: {num_duplicates}")
df.drop_duplicates(inplace=True)
num_duplicates_after_removal = df.duplicated().sum()
print(f"Number of duplicate rows after removal: {num_duplicates_after_removal}")

Number of duplicate rows found: 0
Number of duplicate rows after removal: 0

## Check missing values

### Subtask:
Check for and report the number of missing values in each column.

**Reasoning**:
Check for missing values in each column and print the results.

In [4]:
missing_values = df.isnull().sum()
print("Number of missing values per column:")
print(missing_values)

Number of missing values per column:
date           0
Appliances     0
lights         0
T1             0
RH_1           0
T2             0
RH_2           0
T3             0
RH_3           0
T4             0
RH_4           0
T5             0
RH_5           0
T6             0
RH_6           0
T7             0
RH_7           0
T8             0
RH_8           0
T9             0
RH_9           0
T_out          0
Press_mm_hg    0
RH_out         0
Windspeed      0
Visibility     0
Tdewpoint      0
rv1            0
rv2            0
dtype: int64

## Clean the data

### Subtask:
Perform any necessary data cleaning steps based on the identified issues (e.g., handling missing values, correcting data types).

**Reasoning**:
Check the data types of the columns and convert any numerical columns that are incorrectly interpreted as objects to a numerical data type.

In [5]:
df.info()

# Based on the .info() output, we can see that all columns except 'date' are already of a numerical type (int64 or float64).
# The 'date' column is an object, which is expected for dates before conversion.
# No further type conversion is necessary for numerical columns at this step as they are already in appropriate formats.
# The instructions mention handling 'e' or 'E' in numerical columns, but the .info() output suggests all numerical columns are already numeric types, implying no such characters are present causing them to be objects.
# Since there are no missing values and numerical columns are correctly typed, no further cleaning steps are needed based on the identified issues.

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19735 entries, 0 to 19734
Data columns (total 29 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   date         19735 non-null  object
 1   Appliances   19735 non-null  int64
 2   lights       19735 non-null  int64
 3   T1           19735 non-null  float64
 4   RH_1         19735 non-null  float64
 5   T2           19735 non-null  float64
 6   RH_2         19735 non-null  float64
 7   T3           19735 non-null  float64
 8   RH_3         19735 non-null  float64
 9   T4           19735 non-null  float64
 10  RH_4         19735 non-null  float64
 11  T5           19735 non-null  float64
 12  RH_5         19735 non-null  float64
 13  T6           19735 non-null  float64
 14  RH_6         19735 non-null  float64
 15  T7           19735 non-null  float64
 16  RH_7         19735 non-null  float64
 17  T8           19735 non-null  float64
 18  RH_8         19735 non-null  float64
 19  T9           19735 non-null  float64
 20  RH_9         19735 non-null  float64
 21  T_out        19735 non-null  float64
 22  Press_mm_hg  19735 non-null  float64
 23  RH_out       19735 non-null  float64
 24  Windspeed    19735 non-null  float64
 25  Visibility   19735 non-null  float64
 26  Tdewpoint    19735 non-null  float64
 27  rv1          19735 non-null  float64
 28  rv2          19735 non-null  float64
dtypes: float64(26), int64(2), object(1)
memory usage: 4.4+ MB

## Ask Anything with AI
1.   List the coulmn
2.   how much no's of rows are there.

In [6]:
from google.colab import ai
response = ai.generate_text("What is the capital of France?")
print(response)

The number of columns in the cleaned data is: 29

## Summary:

### Data Analysis Key Findings

*   The initial dataset was loaded successfully and contained 29 columns.
*   No duplicate rows were found in the dataset.
*   There were no missing values in any of the columns.
*   Data type analysis showed that all numerical columns were already in the correct `int64` or `float64` formats, indicating no extraneous characters like 'e' or 'E' were present causing issues with numerical representation.
*   The final cleaned data, after removing duplicates and checking for missing values and extraneous data, still contains 29 columns.

### Insights or Next Steps

*   Since the data is already relatively clean with no missing values or obvious formatting issues in numerical columns, the next steps can focus directly on feature engineering, data transformation, or modeling without extensive prior cleaning.